extends layout

block head
  - title = 'Analyse'
  link(rel="stylesheet", href="/static/css/analysis.css")
 
block content
  form#analysis-form
    .form-group
      label(for="stock-symbol") Aktie
      input#stock-symbol(type="text", name="stock", maxlength="30", required placeholder="z.B. AAPL")
    .form-group
      label(for="exchange") Handelsplatz
      input#exchange(type="text", name="exchange", maxlength="30", required placeholder="z.B. NASDAQ")
    .form-group
      label(for="date-from") Von (optional)
      input#date-from(type="date", name="from")
    .form-group
      label(for="date-to") Bis (optional)
      input#date-to(type="date", name="to")

    fieldset
      legend Analysemethoden
      .checkbox-group
        - const steps = ['MovingAverage', 'SwingPointDetection', 'TrendDetection', 'TrendChannelCalculation']
        each step in steps
          div
            input(type="checkbox", id=step, name="steps", value=step)
            label(for=step)= step

    button(type="submit") Analyse starten

  #analysis-container

block scripts
    script(src="/static/js/analysis.js")
