extends layout

block content
  h1 Willkommen!
  .button-container
    a.button(href="/analysis") Analyse
    a.button(href="/notifications") Benachrichtigungen
  form.logout-form
    button(type="submit") Logout

append scripts
  script(src="/static/js/home.js")
