extends layout

block content
  h1 Willkommen!
  .button-container
    a.button(href="/analysis") Analyse
    a.button(href="/notifications") Benachrichtigungen
  form.logout-form(action="/auth/logout", method="POST")
    button(type="submit") Logout
