doctype html
html
  head
    title Trading App
    link(rel="icon" type="image/svg+xml" href="/static/favicon.svg")
    link(rel="stylesheet", href="/static/css/layout.css")
    block head
  body
    nav.main-nav
      a.nav-item(href="/") Home
      a.nav-item(href="/chart") Chart
      a.nav-item(href="/analysis") Analyse
      a.nav-item(href="/notification") Benachrichtigungen
      .logout-container
        button#logout-btn.logout-nav(type="button") Logout
        
    main.content-container
      block content
    block scripts
      script(src="/static/js/layout.js")