doctype html
html
  head
    title Benachrichtigungs-Registrierung
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/static/css/register-notification.css")
  body
    .container
      h1 Benachrichtigung aktivieren
      button#notify-btn(type="button") Benachrichtigung bestätigen
    script(src="/static/js/register-notification.js")
